<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Cadastro</servlet-name>
  	<display-name>Cadastro</display-name>
  	<description></description>
  	<servlet-class>servlet.Cadastro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Lista</servlet-name>
  	<display-name>Lista</display-name>
  	<description></description>
  	<servlet-class>servlet.Lista</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListaCadastro</servlet-name>
  	<display-name>ListaCadastro</display-name>
  	<description></description>
  	<servlet-class>servlet.ListaCadastro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CadastroCategoria</servlet-name>
  	<display-name>CadastroCategoria</display-name>
  	<description></description>
  	<servlet-class>servlet.CadastroCategoria</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListaCategoria</servlet-name>
  	<display-name>ListaCategoria</display-name>
  	<description></description>
  	<servlet-class>servlet.ListaCategoria</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CadastroProduto</servlet-name>
  	<display-name>CadastroProduto</display-name>
  	<description></description>
  	<servlet-class>servlet.CadastroProduto</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListaProduto</servlet-name>
  	<display-name>ListaProduto</display-name>
  	<description></description>
  	<servlet-class>servlet.ListaProduto</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CadastroCliente</servlet-name>
  	<display-name>CadastroCliente</display-name>
  	<description></description>
  	<servlet-class>servlet.CadastroCliente</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListaCliente</servlet-name>
  	<display-name>ListaCliente</display-name>
  	<description></description>
  	<servlet-class>servlet.ListaCliente</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CadastroColaborador</servlet-name>
  	<display-name>CadastroColaborador</display-name>
  	<description></description>
  	<servlet-class>servlet.CadastroColaborador</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Colaborador</servlet-name>
  	<display-name>Colaborador</display-name>
  	<description></description>
  	<servlet-class>VO.Colaborador</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListaColaborador</servlet-name>
  	<display-name>ListaColaborador</display-name>
  	<description></description>
  	<servlet-class>servlet.ListaColaborador</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CadastroCargo</servlet-name>
  	<display-name>CadastroCargo</display-name>
  	<description></description>
  	<servlet-class>servlet.CadastroCargo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListaCargo</servlet-name>
  	<display-name>ListaCargo</display-name>
  	<description></description>
  	<servlet-class>servlet.ListaCargo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CadastroPedido</servlet-name>
  	<display-name>CadastroPedido</display-name>
  	<description></description>
  	<servlet-class>servlet.CadastroPedido</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListaPedido</servlet-name>
  	<display-name>ListaPedido</display-name>
  	<description></description>
  	<servlet-class>servlet.ListaPedido</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>Categoria</servlet-name>
  	<display-name>Categoria</display-name>
  	<description></description>
  	<servlet-class>	VO.Categoria</servlet-class>
  </servlet>
    <servlet>
   <servlet-name>Cargo</servlet-name>
  	<display-name>Cargo</display-name>
  	<description></description>
  	<servlet-class>	VO.Cargo</servlet-class>
  </servlet>
    <servlet>
   <servlet-name>Cliente</servlet-name>
  	<display-name>Cliente</display-name>
  	<description></description>
  	<servlet-class>	VO.Cliente</servlet-class>
  </servlet>
    <servlet>
   <servlet-name>Pedido</servlet-name>
  	<display-name>Pedido</display-name>
  	<description></description>
  	<servlet-class>	VO.Pedido</servlet-class>
  </servlet>
    <servlet>
   <servlet-name>Produto</servlet-name>
  	<display-name>Produto</display-name>
  	<description></description>
  	<servlet-class>	VO.Produto</servlet-class>
  </servlet>
   <servlet>
   <servlet-name>ApagarCategoria</servlet-name>
  	<display-name>ApagarCategoria</display-name>
  	<description></description>
  	<servlet-class>servlet.ApagarCategoria</servlet-class>
  </servlet>
   <servlet>
   <servlet-name>EditarCategoria</servlet-name>
  	<display-name>EditarCategoria</display-name>
  	<description></description>
  	<servlet-class>servlet.EditarCategoria</servlet-class>
  </servlet>  
     <servlet>
   <servlet-name>ApagarCliente</servlet-name>
  	<display-name>ApagarCliente</display-name>
  	<description></description>
  	<servlet-class>servlet.ApagarCliente</servlet-class>
  </servlet>
   <servlet>
   <servlet-name>EditarCliente</servlet-name>
  	<display-name>EditarCliente</display-name>
  	<description></description>
  	<servlet-class>servlet.EditarCliente</servlet-class>
  </servlet>  
     <servlet>
   <servlet-name>ApagarProduto</servlet-name>
  	<display-name>ApagarProduto</display-name>
  	<description></description>
  	<servlet-class>servlet.ApagarProduto</servlet-class>
  </servlet>
   <servlet>
   <servlet-name>EditarProduto</servlet-name>
  	<display-name>EditarProduto</display-name>
  	<description></description>
  	<servlet-class>servlet.EditarProduto</servlet-class>
  </servlet>
   <servlet>
   <servlet-name>ApagarCargo</servlet-name>
  	<display-name>ApagarCargo</display-name>
  	<description></description>
  	<servlet-class>servlet.ApagarCargo</servlet-class>
  </servlet>
   <servlet>
   <servlet-name>EditarCargo</servlet-name>
  	<display-name>EditarCargo</display-name>
  	<description></description>
  	<servlet-class>servlet.EditarCargo</servlet-class>
  </servlet>
     <servlet>
   <servlet-name>ApagarColaborador</servlet-name>
  	<display-name>ApagarColaborador</display-name>
  	<description></description>
  	<servlet-class>servlet.ApagarColaborador</servlet-class>
  </servlet>
   <servlet>
   <servlet-name>EditarColaborador</servlet-name>
  	<display-name>EditarColaborador</display-name>
  	<description></description>
  	<servlet-class>servlet.EditarColaborador</servlet-class>
  </servlet>
     <servlet>
   <servlet-name>ApagarPedido</servlet-name>
  	<display-name>ApagaPedido</display-name>
  	<description></description>
  	<servlet-class>servlet.ApagarPedido</servlet-class>
  </servlet>
   <servlet>
   <servlet-name>EditarPedido</servlet-name>
  	<display-name>EditarPedido</display-name>
  	<description></description>
  	<servlet-class>servlet.EditarPedido</servlet-class>
  </servlet>

  
  <servlet-mapping>
  	<servlet-name>Cadastro</servlet-name>
  	<url-pattern>/Cadastro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Lista</servlet-name>
  	<url-pattern>/Lista</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListaCadastro</servlet-name>
  	<url-pattern>/ListaCadastro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CadastroCategoria</servlet-name>
  	<url-pattern>/CadastroCategoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListaCategoria</servlet-name>
  	<url-pattern>/ListaCategoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CadastroProduto</servlet-name>
  	<url-pattern>/CadastroProduto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListaProduto</servlet-name>
  	<url-pattern>/ListaProduto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CadastroCliente</servlet-name>
  	<url-pattern>/CadastroCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListaCliente</servlet-name>
  	<url-pattern>/ListaCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CadastroColaborador</servlet-name>
  	<url-pattern>/CadastroColaborador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Colaborador</servlet-name>
  	<url-pattern>/Colaborador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListaColaborador</servlet-name>
  	<url-pattern>/ListaColaborador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CadastroCargo</servlet-name>
  	<url-pattern>/CadastroCargo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListaCargo</servlet-name>
  	<url-pattern>/ListaCargo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CadastroPedido</servlet-name>
  	<url-pattern>/CadastroPedido</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListaPedido</servlet-name>
  	<url-pattern>/ListaPedido</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApagarCategoria</servlet-name>
  	<url-pattern>/ApagarCategoria</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>EditarCategoria</servlet-name>
  	<url-pattern>/EditarCategoria</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
  	<servlet-name>ApagarCliente</servlet-name>
  	<url-pattern>/ApagarCliente</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
  	<servlet-name>EditarCliente</servlet-name>
  	<url-pattern>/EditarCliente</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
  	<servlet-name>ApagarProduto</servlet-name>
  	<url-pattern>/ApagarProduto</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
  	<servlet-name>EditarProduto</servlet-name>
  	<url-pattern>/EditarProduto</url-pattern>
  </servlet-mapping>  
  	<servlet-mapping>
  	<servlet-name>ApagarCargo</servlet-name>
  	<url-pattern>/ApagarCargo</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>EditarCargo</servlet-name>
  	<url-pattern>/EditarCargo</url-pattern>
  </servlet-mapping>
 	<servlet-mapping>
  	<servlet-name>ApagarPedido</servlet-name>
  	<url-pattern>/ApagarPedido</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>EditarPedido</servlet-name>
  	<url-pattern>/EditarPedido</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>ApagarColaborador</servlet-name>
  	<url-pattern>/ApagarColaborador</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>EditarColaborador</servlet-name>
  	<url-pattern>/EditarColaborador</url-pattern>
  </servlet-mapping>
  
</web-app>
